<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes,
				minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/css/xadmin.css">
    <script src="static/layui/layui.js"></script>
    <script src="static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-container" style="margin-top: 20px;margin-right: 20px">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <input readonly ="readonly" type="text" id="name" name="name" class="layui-input" lay-verify="required" />
                <input type="text" id="id" name="id"  hidden/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">拥有权限</label>
            <table  class="layui-table layui-input-block">
                <tbody>
                <tr>
                    <td id="select"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <button lay-submit class="layui-btn" id="sub" lay-filter="sub">提交修改</button>
        </div>
    </form>

    <input type="text" id="userPermission" hidden />

</div>
</body>
<script>
    function childs(obj){
        //把值转字符串传给隐藏域
        document.getElementById("userPermission").value=JSON.stringify(obj);
    }
</script>
<script  src="static/js/userRole.js"></script>

</html>