<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes,
				minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/css/xadmin.css">
    <script src="static/layui/layui.js"></script>
    <script src="static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="overflow-y: scroll">

<div class="layui-container" style="margin-top: 20px;margin-right: 20px">
    <form class="layui-form">

        <div class="layui-form-item">
            <label class="layui-form-label">商品名字：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品价格：</label>
            <div class="layui-input-block">
                <input type="text" id="price" name="price" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品小类：</label>
            <div class="layui-input-block">
                <select id="cmy" name="cmy" class="layui-input" lay-filter="cmy"  lay-verify="required" lay-search></select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品计量单位：</label>
            <div class="layui-input-block">
                <select id="sumUnit" name="sumUnit" class="layui-input" lay-filter="sumUnit"  lay-verify="required" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button lay-submit class="layui-btn" id="sub" lay-filter="sub">提交</button>
            </div>
        </div>

        <input type="hidden" th:value="${session.userMsg.id}" id="userId"/>

    </form>
</div>
</body>

<script src="static/js/addCommodity.js"></script>

</html>