<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes,
				minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/css/xadmin.css">
    <script src="static/layui/layui.js"></script>
    <script src="static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="overflow-y: scroll">

<div class="layui-container" style="margin-top: 20px;margin-right: 20px">
    <form class="layui-form">

        <div class="layui-form-item" >
            <label class="layui-form-label">商品名称：</label>
            <div class="layui-input-block" >
                <input type="text" id="name" name="name" class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">价格：</label>
            <div class="layui-input-block">
                <input type="number" id="price" name="price" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">计量单位：</label>
            <div class="layui-input-block">
                <select id="measurement" name="measurement" class="layui-input" lay-filter="status"  lay-verify="required" lay-search></select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <select id="status" name="status" class="layui-input" lay-filter="status"  lay-verify="required" lay-search></select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品类型：</label>
            <div class="layui-input-block">
                <select id="goodsTypeId" name="goodsTypeId" class="layui-input" lay-filter="goodsTypeId"  lay-verify="required" lay-search></select>
            </div>
        </div>

        <div class="layui-form-item" style="color: red">
            <label class="layui-form-label">供应商：</label>
            <div class="layui-input-block">
                <input type="text" style="color: red" id="userName" name="userName" class="layui-input" readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item" style="color: red">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block">
                <input type="text" style="color: red" id="phone" name="phone" class="layui-input" readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item" style="color: red">
            <label class="layui-form-label">邮箱：</label>
            <div class="layui-input-block">
                <input type="text" style="color: red" id="email" name="email" class="layui-input" readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item" style="color: red">
            <label class="layui-form-label">公司：</label>
            <div class="layui-input-block">
                <input type="text"  style="color: red" id="unitName" name="unitName" class="layui-input" readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item" style="color: red">
            <label class="layui-form-label">公司地址：</label>
            <div class="layui-input-block">
                <input type="text" style="color: red" id="address" name="address" class="layui-input" readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button lay-submit class="layui-btn" id="sub" lay-filter="sub">提交</button>
            </div>
        </div>
        <input type="hidden" id="id" name="id"/>
    </form>
</div>
<input type="hidden" id="statusId"/>
<input type="hidden" id="goodsTypeIds"/>
<input type="hidden" id="did"/>
<input type="hidden" id="userId"/>
<input type="hidden" id="measurementplus"/>
</body>

<script src="static/js/editCommodity.js"></script>

</html>